.user-input {
  position: absolute;
  bottom: 1rem;
  width: calc(100vw - 40px);
  display: flex;
  justify-content: center;
    textarea {
      width: 90%;
      min-height: 50px;
      padding: 15px 50px 15px 23px;
      box-sizing: border-box;
      border-radius: 35px;
      font-size: 16px;
      resize: none;
      background-color: var(--gray-750);
      overflow: hidden;
      border: none;
      &::placeholder {
        line-height: 20px;
      }
      &:focus-visible {
        outline: none;
      }
    }

    .enter-icon {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      border: none;
      box-shadow: none;
      display: block;
      position: absolute;
      bottom: 17%;
      right: 7%;
      color: var(--gray-750);
      padding: 0;
      background-color: var(--white);
      svg {
        height: 32px;
        width: 32px;
      }

      &:hover {
        cursor: pointer;
      }
      &:disabled {
        background-color: var(--disabled-gray);
      }
    }
}